
<!--<script type="text/javascript" src="__PUBLIC__/goods/js/liandong.js"></script>-->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/goods/liandong.css">

<div id="navtab1" style=" border: 1px solid #A3C0E8;">
    <div title="扩展信息" tabid="tabItem3">
        <div id="Div1">
            <div position="center">
                <div style="padding: 5px 8px;" class="div_content">
                    <div class="div_title"><span>产品规格</span></div>
                    <div class="div_contentlist">
                        <!--属性列表-->
                    </div>

                    <div class="div_contentlist2">
                        <ul>
                            <li><div id="createTable"></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


     
