
        <!--导航区域开始-->
        <div id="index_navi">
            <ul id="menu">
                <li><a href="{:U('Index/index')}" class="index_on"></a></li>
                <li><a href="{:U('Role/index')}" class="role_off"></a></li>
                <li><a href="{:U('Admin/index')}" class="admin_off"></a></li>
                <li><a href="{:U('Store/index')}" class="store_off"></a></li>
                <li><a href="{:U('Account/index')}" class="emp_off"></a></li>
                <li><a href="{:U('Buy/index')}" class="buy_off"></a></li>               
                <li><a href="{:U('Sell/index')}" class="sell_off"></a></li>
                <li><a href="{:U('Goods/index')}" class="warehouse_off"></a></li>
                <li><a href="{:U('User/info')}" class="information_off"></a></li>
                <li><a href="{:U('User/pwd')}" class="password_off"></a></li>
            </ul>
        </div>